# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.tmp

# Virtual Environment
venv/
.venv/
env/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
agent/*
# Build
build/
dist/
*.spec

# Database
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.cache/
